body {
    background: #c86dd7;
    text-align: center;
    /* Screen: */
background-image: url('img/gbg.png');
background-size: 100% 100%;
}

.medium-lite-txt{
    color: #ffffff;
    line-height: initial;
    font-weight: 200;
    opacity: 0.95;
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.53);
}
.uppercase-txt{
    text-transform: uppercase
}
.small-lite-txt{
    color: #ffffff;
    line-height: initial;
    font-weight: 200;
    font-size: small;
    opacity: 0.85;
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.53);
}


.lmt{
    margin-top:4pc;
}
.lmb{
    margin-bottom: 4pc;
}
.footer{
    margin-top:6pc;
    width: 100%;
    float: left;
}
.font-zero{
    font-size: 0px;
}