body {
    background: #c86dd7;
    text-align: center;
    /* Screen: */
/*background-image: linear-gradient(45deg, #3023AE 0%, #C86DD7 100%);*/
}
.SenderPic{
    border: 4px solid #ffffff;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background: #EAEAEA;
    background-image: url('img/bianca.png');
    margin: 25px auto 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}
.medium-lite-txt{
    color: #ffffff;
    line-height: initial;
    font-weight: 200;
    opacity: 0.95;
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.53);
}
.uppercase-txt{
    text-transform: uppercase
}
.small-lite-txt{
    color: #ffffff;
    line-height: initial;
    font-weight: 200;
    font-size: small;
    opacity: 0.85;
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.53);
}
.btn-disc{
    background: rgba(255,255,255,0.3);
    margin: auto;
    width: 120px;
    height: 150px;
    border-radius: 6px;
}
.btn-disc > h3{
    font-size: smaller;
    margin-bottom: 15px;
    margin-top: 0;
    padding-top: 15px;
    color: rgba(41, 41, 41, 0.85);
    font-weight: 500;
}

.lmt{
    margin-top:4pc;
}
.lmb{
    margin-bottom: 4pc;
}
.footer{
    margin-top:6pc;
    width: 100%;
    float: left;
}
.font-zero{
    font-size: 0px;
}