body {
  background: linear-gradient(45deg, #c86dd7 0%, #3023ae 100%);
}
.test {
  background: #000;
}
.clientPic {
  border-radius: 100px;
  border: solid #ffffff 5px;
  height: 80px;
  width: 80px;
  margin: auto;
}
